@using System
@using Romulus.Web.Constants
@using Romulus.Web.Helpers
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js oldie lt-ie9 lt-ie8  lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js oldie lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js oldie lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Madhon's Site</title>
    <meta name="google-site-verification" content="JueVkl3cqLkcn0bEYbgmHvXOscWjwld9eqT8WP2zlsw" />
    <meta name="verify-v1" content="3o9u8JJjDFX6bIFo33nVdmhVtkeZnfCmy5ulejun0oc=" />
    <meta name="viewport" content="width=device-width">
    <!--Windows 7/8/8.1 Metadata-->
    <meta name="application-name" content="Madhon's Site" />
    <meta name="msapplication-TileColor" content="#5373F4">
    <meta name="msapplication-config" content="/browserconfig.xml"/>
    @Html.CssTag(@ContentDeliveryNetwork.MaxCdn.BootstrapCssUrl)
    @Html.CssTag(@ContentDeliveryNetwork.MaxCdn.FontAwesomeUrl)
    @Html.CssTag("/Content/css/site.min.css")
    @Html.CssTag("/Content/css/metro.min.css")
    @RenderSection("cssFiles", false)
    @Html.JsTag(@ContentDeliveryNetwork.JsDelivr.ModernizrUrl)
    <!--[if lt IE 9]>
        @Html.JsTag(@ContentDeliveryNetwork.JsDelivr.RespondUrl)
        @Html.JsTag(@ContentDeliveryNetwork.JsDelivr.HtmlShivUrl)
    <![endif]-->
</head>
<body>
    <!--[if lt IE 9]>
    <div class="alert alert-warning" role="alert">
           <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    </div>
    <![endif]-->
    <div class="slidepanel">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="spara">
                        <!-- Contact details --><p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <a href="http://lnkd.in/6XpSG6" class="bviolet"><i class="fa fa-linkedin"></i></a>
                        <a href="https://twitter.com/madh0n" class="blightblue"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/madhon" class="bblack"><i class="fa fa-github"></i></a>
                        <a href="http://stackoverflow.com/users/4388935/jonathon-douglas" class="borange"><i class="fa fa-stack-overflow"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row">

                <div class="col-md-3">

                    <!-- Logo starts -->

                    <div class="logo">
                        <div class="logo-image">

                        </div>
                        <div class="logo-text">
                            <h1>Mad<span class="lightblue">Hon</span></h1>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="navi pull-right">
                         <div id="ddtopmenubar" class="mattblackmenu"> 
                            <ul>
                                <li><a href="/" class="blightblue"> <i class="fa fa-home"></i>Home</a></li>
                                <li><a href="/GridLock" class="bgreen"> <i class="fa fa-eye"></i>Gridlock</a></li>
                                <li><a href="/Contact" class="bblue"> <i class="fa fa-envelope-o"></i>Contact</a></li>
                            </ul>
                         </div> 
                    </div>
                    <div class="navis"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </header>

    <div class="clearfix"></div>

    <!-- Content starts -->
    <div class="content">
        <div class="container ">
            <div class="row">
                <!--<div class="col-md-2"></div>-->
                <div class="col-md-offset-2 col-md-8">
                    @RenderBody()
                </div> <!--/span8-->
                <div class="col-md-2"></div>
            </div><!--/row-->

        </div> <!--/container-->
    </div> <!--/content-->
    <!-- Content ends -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copy text-center">
                        <p>Copyright &copy; @DateTime.Now.Year Madhon</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>

    <!--[if lt IE 9]>
        @Html.JsTag(@ContentDeliveryNetwork.Google.JQuery1Url, true)
    <![endif]-->
    <!--[if gte IE 9]><!-->
    @Html.JsTag(@ContentDeliveryNetwork.Google.JQuery2Url, true)
    <!--<![endif]-->
    @Html.JsTag(@ContentDeliveryNetwork.MaxCdn.BootstrapJsUrl, true)
    @RenderSection("scriptFiles", false)
</html>
