<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
        <meta name="apple-mobile-web-app-title" content="Madhon's Site" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
@*        <meta name="apple-touch-icon" content="/includes/img/icon.png" />
        <meta name="apple-touch-startup-image" content="/inclues/img/splash.png" />
*@        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.2/jquery.mobile.min.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.2/jquery.mobile.min.js"></script>
		<script>
            $(document).ready(function () {
                $.mobile.ajaxEnabled = false; 
            });
		</script>
        @RenderSection("cssFiles", false)
    </head> 
<body> 
    <div data-role="page" data-theme="b">
        @*@Html.Partial("_ViewSwitcher")*@
        
        <div data-role="header" data-position="fixed">
            <h1>@ViewBag.Title</h1>
            <div data-role="navbar" data-iconpos="left">
				<ul>
				<li>@Html.ActionLink("Home", "Index", "Home", null, new { data_icon="home"})</li>
				<li>@Html.ActionLink("Bond Name Generator", "Index", "BondGirl", null, new { data_icon="search"})</li>
				<li>@Html.ActionLink("Contact", "Index", "Contact", null, new { data_icon="info"})</li>
				</ul>
			</div>
        </div>

        <div data-role="content">
            @RenderBody()		
        </div>

        <div data-role="footer" data-position="fixed">
            Copyright &copy; 2010-2014 Madhon
        </div>

    </div>
    @RenderSection("scriptFiles", false)
</body>
</html>