@using StackExchange.Profiling;
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en">       <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="google-site-verification" content="JueVkl3cqLkcn0bEYbgmHvXOscWjwld9eqT8WP2zlsw" />
    <meta name="verify-v1" content="3o9u8JJjDFX6bIFo33nVdmhVtkeZnfCmy5ulejun0oc=" />
	<meta name="viewport" content="width=device-width">
    <link href="@Url.Content("~/content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/content/ddlevelsmenu-base.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/content/ddlevelsmenu-topbar.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/content/slider.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/content/prettyPhoto.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/metro.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
	@RenderSection("cssFiles", false)
	<script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.min.js")"></script>	
</head>

  <div class="slidepanel">
    <div class="container">
      <div class="row">
        <div class="span8">
          <div class="spara"> 
            <!-- Contact details --><p></p>
          </div>
        </div>
        <div class="span4">
            <div class="social">
			   <a href="http://uk.linkedin.com/pub/jonathon-douglas/19/9aa/29a" class="bviolet"><i class="icon-linkedin"></i></a>
               <a href="https://twitter.com/madh0n" class="blightblue"><i class="icon-twitter"></i></a>
            </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <header>
    <div class="container">
      <div class="row">

        <div class="span3">

          <!-- Logo starts -->

          <div class="logo">
            <div class="logo-image">
			
            </div>
            <div class="logo-text">
              <h1>Mad<span class="lightblue">Hon</span></h1>
			  
            </div>

            <div class="clearfix"></div>
          </div>
        </div>

        <div class="span9">
          <div class="navi pull-right">
            <div id="ddtopmenubar" class="mattblackmenu">
              <ul>
                <li><a href="@Url.Action("Index", "Home")" class="blightblue"> <i class="icon-home"></i> Home</a></li>
                <li><a href="@Url.Action("Index", "BondGirl")" class="bred"> <i class="icon-film"></i> Bond Name</a></li>
				<li><a href="@Url.Action("Index", "Gridlock")" class="bgreen"> <i class="icon-eye-open"></i> Gridlock</a></li>
                <li><a href="@Url.Action("Index", "Contact")" class="bblue"> <i class="icon-envelope-alt"></i> Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="navis"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </header>

  <div class="clearfix"></div>

  <!-- Content starts -->
  <div class="content">
    <div class="container ">
	<div class="row">
	<div class="span2"></div>
	<div class="span8">
	@RenderBody()
	</div> <!--/span8-->
	<div class="span2"></div>
	</div><!--/row-->
	
    </div> <!--/container-->
  </div> <!--/content-->
  <!-- Content ends -->

<footer>
  <div class="container">
    <div class="row">

      <div class="span12">
          <div class="copy text-center">
                <p>Copyright &copy; 2012-2013 Madhon</p>
          </div>
      </div>

    </div>
  <div class="clearfix"></div>
  </div>
</footer> 
	
    <!--[if lt IE 9]>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <!--<![endif]-->
   
    <script type="text/javascript" src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.prettyPhoto.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.isotope.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/ddlevelsmenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.cslider.js")"></script>
    @RenderSection("scriptFiles", false)
    <script>
        window._gaq = [['_setAccount','UA-19732462-1'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({
            load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
        });
    </script>
    @MiniProfiler.RenderIncludes()
<!--@Html.AssemblyFileVersion()-->
</body>
</html>
