@model ContactViewModel

@{
    ViewBag.Title = "Contact";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<h2>Contact</h2>
@using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @name = "frmContact", @id = "frmContact", @class = "form-horizontal"  })  )
{   
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Your Information</legend>
        <div class="control-group">
            @Html.LabelFor(f => f.Name, new { @class = "control-label"})
            <div class="controls">
                @Html.Html5TextBoxFor(f => f.Name, InputTypes.InputType.Text, null, "Your Name", false, false, true)
                @Html.ValidationMessageFor(f => f.Name, null, new { @class = "help-inline" })
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(f => f.Email, new { @class = "control-label"})
            <div class="controls">
                @Html.Html5TextBoxFor(f => f.Email, InputTypes.InputType.Email, null, "Your Email Address")
                @Html.ValidationMessageFor(f => f.Email, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(f => f.Message, new { @class = "control-label"})
            <div class="controls">
                @Html.TextAreaFor(f => f.Message, 5, 100, new { @placeholder = "Your message"})
                @Html.ValidationMessageFor(f => f.Message, null, new { @class = "help-inline" })
            </div>
        </div>      
    </fieldset>
    
    <div class="form-actions">
     <button class="btn btn-primary" type="submit">Send Message</button>
     <button class="btn" type="reset">Cancel</button>
    </div>
}

@section scriptFiles {
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        jQuery.validator.setDefaults({
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).addClass(errorClass).removeClass(validClass);
                } else {
                    $(element).addClass(errorClass).removeClass(validClass);
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).removeClass(errorClass).addClass(validClass);
                    $(element).closest('.control-group').removeClass('error').addClass('success');
                }
            }
        });
    </script>
}




