@using Romulus.Web.Infrastructure
@using Romulus.Web.Features.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
  <link rel="dns-prefetch" href="https://unpkg.com"/>
  <link rel="dns-prefetch" href="https://use.fontawesome.com">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Madhon's Site - @ViewBag.Title</title>
  <meta name="google-site-verification" content="JueVkl3cqLkcn0bEYbgmHvXOscWjwld9eqT8WP2zlsw" />
  <meta name="verify-v1" content="3o9u8JJjDFX6bIFo33nVdmhVtkeZnfCmy5ulejun0oc=" />
  <meta name="viewport" content="width=device-width">
  <!--App/Android/Other Icon Metadata-->
  <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="~/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="~/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="~/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="~/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="~/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="~/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
  <link rel="manifest" href="~/manifest.json">
  <!--Windows 7/8/8.1 Metadata-->
  <meta name="application-name" content="Madhon's Site" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="msapplication-config" content="/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="@ContentDeliveryNetwork.JsDelivrCdn.BootstrapCssUrl" />
  <link rel="stylesheet" type="text/css" href="~/Content/css/Site.min.css" asp-append-version="true" />
  <link rel="stylesheet" type="text/css" href="~/Content/css/metro.min.css" asp-append-version="true" />
  @RenderSection("cssFiles", false)
</head>
<body>
  <div class="slidepanel">
	<div class="container">
	  <div class="row">
		<div class="col-lg-8">
		  <div class="spara">
			<p></p>
		  </div>
		</div>
		<div class="col-lg-4">
		  <div class="social">
			<a href="http://lnkd.in/6XpSG6" class="bviolet">
			  <!--<i class="fab fa-linkedin"></i>--><svg viewBox="0 0 24 24">
				<path d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z" />
			  </svg>
			</a>
			<a href="https://twitter.com/madh0n" class="blightblue">
			  <!--<i class="fab fa-twitter"></i>--><svg viewBox="0 0 24 24">
				<path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" />
			  </svg>
			</a>
			<a href="https://github.com/madhon" class="bblack">
			  <!--<i class="fab fa-github"></i>--><svg viewBox="0 0 24 24">
				<path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
			  </svg>
			</a>
			  <a href="http://stackoverflow.com/users/4388935/jonathon-douglas" class="borange">
				  <!--<i class="fab fa-stack-overflow"></i>--><svg viewBox="0 0 24 24">
					  <path d="M17.36,20.2V14.82H19.15V22H3V14.82H4.8V20.2H17.36M6.77,14.32L7.14,12.56L15.93,14.41L15.56,16.17L6.77,14.32M7.93,10.11L8.69,8.5L16.83,12.28L16.07,13.9L7.93,10.11M10.19,6.12L11.34,4.74L18.24,10.5L17.09,11.87L10.19,6.12M14.64,1.87L20,9.08L18.56,10.15L13.2,2.94L14.64,1.87M6.59,18.41V16.61H15.57V18.41H6.59Z" />
				  </svg>
			  </a>
			  <a rel="me" href="https://hachyderm.io/@@Madhon" class="blightblue">
				  <svg viewbox="0 0 24 24">
								<path d="M20.94,14C20.66,15.41 18.5,16.96 15.97,17.26C14.66,17.41 13.37,17.56 12,17.5C9.75,17.39 8,16.96 8,16.96V17.58C8.32,19.8 10.22,19.93 12.03,20C13.85,20.05 15.47,19.54 15.47,19.54L15.55,21.19C15.55,21.19 14.27,21.87 12,22C10.75,22.07 9.19,21.97 7.38,21.5C3.46,20.45 2.78,16.26 2.68,12L2.67,8.57C2.67,4.23 5.5,2.96 5.5,2.96C6.95,2.3 9.41,2 11.97,2H12.03C14.59,2 17.05,2.3 18.5,2.96C18.5,2.96 21.33,4.23 21.33,8.57C21.33,8.57 21.37,11.78 20.94,14M18,8.91C18,7.83 17.7,7 17.15,6.35C16.59,5.72 15.85,5.39 14.92,5.39C13.86,5.39 13.05,5.8 12.5,6.62L12,7.5L11.5,6.62C10.94,5.8 10.14,5.39 9.07,5.39C8.15,5.39 7.41,5.72 6.84,6.35C6.29,7 6,7.83 6,8.91V14.17H8.1V9.06C8.1,8 8.55,7.44 9.46,7.44C10.46,7.44 10.96,8.09 10.96,9.37V12.16H13.03V9.37C13.03,8.09 13.53,7.44 14.54,7.44C15.44,7.44 15.89,8 15.89,9.06V14.17H18V8.91Z" />
				  </svg>
			  </a>
              <a href="https://bsky.app/profile/madhon.co.uk" class="blightblue">
                  <svg width="24" height="24" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M123.121 33.6637C188.241 82.5526 258.281 181.681 284 234.873C309.719 181.681 379.759 82.5526 444.879 33.6637C491.866 -1.61183 568 -28.9064 568 57.9464C568 75.2916 558.055 203.659 552.222 224.501C531.947 296.954 458.067 315.434 392.347 304.249C507.222 323.8 536.444 388.56 473.333 453.32C353.473 576.312 301.061 422.461 287.631 383.039C285.169 375.812 284.017 372.431 284 375.306C283.983 372.431 282.831 375.812 280.369 383.039C266.939 422.461 214.527 576.312 94.6667 453.32C31.5556 388.56 60.7778 323.8 175.653 304.249C109.933 315.434 36.0535 296.954 15.7778 224.501C9.94525 203.659 0 75.2916 0 57.9464C0 -28.9064 76.1345 -1.61183 123.121 33.6637Z" fill="black"/>
                  </svg>
                  </a>
          </div>
		</div>
	  </div>
	  <div class="clearfix"></div>
	</div>
  </div>

  <header>
	<div class="container">
	  <div class="row">
		<div class="col-lg-3">
		  <div class="logo">
			<div class="logo-image">
			</div>
			<div class="logo-text">
			  <h1>Mad<span class="lightblue">Hon</span></h1>
			</div>
			<div class="clearfix"></div>
		  </div>
		</div>

		<div class="col-lg-9">
		  <div class="navi float-right">
			<div id="ddtopmenubar" class="mattblackmenu">
			  <ul>
				<li>
				  <a asp-controller="Home" asp-action="Index" class="blightblue">
					<!--<i class="fas fa-home"></i>--><svg viewBox="0 0 24 24">
					  <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
					</svg>Home
				  </a>
				</li>
				<li>
				  <a asp-controller="Contact" asp-action="Index" class="bblue">
					<!--<i class="fas fa-envelope"></i>--><svg viewBox="0 0 24 24">
					  <path d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z" />
					</svg>Contact
				  </a>
				</li>
			  </ul>
			</div>
		  </div>
		  <div class="navis"></div>
		  <div class="clearfix"></div>
		</div>
	  </div>
	</div>
  </header>

  <div class="clearfix"></div>

  <!-- Content starts -->
  <div class="content">
	<div class="container ">
	  <div class="row">
		  <div class="col-lg-8 offset-lg-2">
			  @RenderBody()
		  </div>
		<div class="col-lg-2"></div>
	  </div>
	</div>
  </div>
  <!-- Content ends -->

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="copy text-center">
					<p>Copyright &copy; @DateTime.Now.Year Madhon</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>
	
<BuildVer />
<DotNetCoreVersion />

<script type="text/javascript" src="@ContentDeliveryNetwork.Google.JQuery3Url"></script>
<script type="text/javascript" src="@ContentDeliveryNetwork.UnPkg.Popper"></script>
<script type="text/javascript" src="@ContentDeliveryNetwork.JsDelivrCdn.BootstrapJsUrl"></script>
@RenderSection("scriptFiles", false)
</body>
</html>
