@using Romulus.Web.Infrastructure
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com">
    <link rel="dns-prefetch" href="https://use.fontawesome.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Madhon's Site - @ViewBag.Title</title>
    <meta name="google-site-verification" content="JueVkl3cqLkcn0bEYbgmHvXOscWjwld9eqT8WP2zlsw" />
    <meta name="verify-v1" content="3o9u8JJjDFX6bIFo33nVdmhVtkeZnfCmy5ulejun0oc=" />
    <meta name="viewport" content="width=device-width">
    <!--Windows 7/8/8.1 Metadata-->
    <meta name="application-name" content="Madhon's Site" />
    <meta name="msapplication-TileColor" content="#5373F4">
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <link rel="stylesheet" type="text/css" href="@ContentDeliveryNetwork.BootstrapCdn.BootstrapCssUrl" />
    <link rel="stylesheet" type="text/css" href="@ContentDeliveryNetwork.BootstrapCdn.FontAwesomeUrl" />
    <link rel="stylesheet" type="text/css" href="/Content/css/site.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/metro.min.css" />
    @RenderSection("cssFiles", false)
</head>
<body>
    <div class="slidepanel">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="spara">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <a href="http://lnkd.in/6XpSG6" class="bviolet"><i class="fab fa-linkedin"></i></a>
                        <a href="https://twitter.com/madh0n" class="blightblue"><i class="fab fa-twitter"></i></a>
                        <a href="https://github.com/madhon" class="bblack"><i class="fab fa-github"></i></a>
                        <a href="http://stackoverflow.com/users/4388935/jonathon-douglas" class="borange"><i class="fab fa-stack-overflow"></i></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <div class="logo-image">
                        </div>
                        <div class="logo-text">
                            <h1>Mad<span class="lightblue">Hon</span></h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="navi pull-right">
                        <div id="ddtopmenubar" class="mattblackmenu">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index" class="blightblue"> <i class="fas fa-home"></i>Home</a></li>
                                <li><a asp-controller="Contact" asp-action="Index" class="bblue"> <i class="fas fa-envelope"></i>Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="navis"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </header>

    <div class="clearfix"></div>

    <!-- Content starts -->
    <div class="content">
        <div class="container ">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    @RenderBody()
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <!-- Content ends -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copy text-center">
                        <p>Copyright &copy; @DateTime.Now.Year Madhon</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
    
    <script type="text/javascript" src="@ContentDeliveryNetwork.Google.JQuery3Url"></script>
    <script type="text/javascript" src="@ContentDeliveryNetwork.BootstrapCdn.BootstrapJsUrl"></script>
    @RenderSection("scriptFiles", false)
    <script type="text/javascript" src="/Content/js/ga.js"></script>
    <DotNetCoreVersion />
    </body>
</html>
